<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266859236700-i88rffeg640ocekmnos4lqpttslh63ml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266859236700-i88rffeg640ocekmnos4lqpttslh63ml</string>
	<key>API_KEY</key>
	<string>AIzaSyAzEi1C2Fwja_gPElpj-I1kCaqufUkq3rs</string>
	<key>GCM_SENDER_ID</key>
	<string>266859236700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ponte.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-3b675</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-3b675.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266859236700:ios:8d6ae37cfdeac329040599</string>
</dict>
</plist>